In [1]:
#upper
nama = "bayu"
print(nama)

bayu

In [5]:
#lower
nama = "ANNELTEIS"
nama_lower = nama.lower()
print(nama.lower())

annelteis

In [7]:
#rstrip
rstrip = "indonesia"
print(rstrip)

indonesia

In [9]:
#strip
strip = "  Indonesia  "
strip_dua ="Merdeka!"
print(strip.strip() + strip_dua)

IndonesiaMerdeka!

In [10]:
#strip => menghilangkan bagian tertentu di kalimat
word = "Halohalohalo"
print(word.strip('Halo'))

haloh

In [14]:
print(','.join(['Indonesia', '-','AI']))

Indonesia,-,AI

In [15]:
#split
print('Indonesia.AI'.split('AI'))

['Indonesia.', '']

In [16]:
#split
var = "Indonesia tanah airku"
var_dua = var.split("Indonesia")

In [17]:
print(var_dua)

['', ' tanah airku']

In [19]:
nama = "Indonesia Negaraku"
print(nama.replace('Negaraku','Tanah Airku'))

Indonesia Tanah Airku

In [20]:
bilangan = 8
print(int)
print(float(bilangan))

<class 'int'>
8.0

In [21]:
#integer
float = 1.5
print(type(float))

<class 'float'>

In [22]:
float_dua = int(float)
print(float_dua)

1

In [23]:
print('Halo()'.format('Semuanya'))

Halo()

In [24]:
var = "Indonesia"
print('Aku cinta')

Aku cinta

In [25]:
var = "Indonesia"
print('Aku cinta %s' %var)

Aku cinta Indonesia

In [26]:
var_dua = 1234
print('Berhitung mulai dari %d' %var_dua)

Berhitung mulai dari 1234

In [27]:
nama_satu = input('Siapa Nama kamu?')
print(type(nama_satu))

Siapa Nama kamu?Egha
<class 'str'>

In [28]:
tambah = input("masukkan Angka: ")
tambah_dua = 200
tambah_tiga = tambah + 200
print(tambah_tiga)

masukkan Angka: 1

TypeError: can only concatenate str (not "int") to str

In [29]:
tambah = input("masukkan Angka: ")
tambah_dua = 200
tambah_tiga =int(tambah) + 200
print(tambah_tiga)

masukkan Angka: 5
205

In [30]:
y = 40
z = 200
w = y < z
print(w)

True

In [31]:
y = 40
z = 200
w = y < z
print(w)
if w == True:
    print("ternyata 40 lebih kecil dari 100")

True
ternyata 40 lebih kecil dari 100

In [32]:
y = 40
z = 200
w = y > z
print(w)
if w == True:
    print("ternyata 40 lebih kecil dari 100")

False

In [33]:
var_x = 5
if var_x > 1:
    print("5 besar dari 1")

5 besar dari 1

In [35]:
var_x = 0
if var_x > 1:
    print("5 besar dari 1")
else:
    print("keliru nih")

keliru nih

In [39]:
masukkan = int(input("Masukkan angka:1"))
var_y = 10
if masukkan < var_y:
    print(masukkan, "lebih kecil")
else:
    print(masukkan, 'lebih besar', var_y)

Masukkan angka:145
45 lebih besar 10

In [44]:
#elif
your_name = input("masukkan nama anda!")
time = input("Pukul berapa Anda datang?")
masuk = 8
print("hallo", your_name)
if int(time) == 8:
    print("wah! anda datang tepat waktu, %s!" %your_name)
elif int(time) < 8:
        print("Anda sangat rajin, %s" %your_name)
elif int(time) > 8:
    print("kenapa anda terlambat, %s" %your_name)

masukkan nama anda!r
Pukul berapa Anda datang?9
hallo r
kenapa anda terlambat, r

In [ ]:
t = 1
while t <= 10:
    print(t)
    t +=1

In [ ]:
#break
input_angka = int(input("Masukkan Angka"))
angka_z = [1,2,3,4,5,6,7,8,9,10]
#kita akan cari angka-angka tertentu maka kita pakai looping
for a in angka_z:
    print (a)
    if a == input_angka:
        print("Angka %d ditemukan" %input_angka)
        break